:root {
    --display-height: 600px;
    --display-width: 600px;
}

body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 850px;
    height: 800px;
    background-color: red;
    padding-top: 70px;
    border-radius: 10%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
}

.display {
    width: 632px;
    height: 632px;
    background-color: aliceblue;
    /* border: 3px solid grey; */
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    /* column-count: 16;
    /* column-fill: auto; */
}

/* Create all this css sectionn using javascript. including the :root part*/
.square {
    flex: 1, 1, 0;
    width: calc(var(--display-width) / 16);
    height: calc(var(--display-height) / 16);
    border: 1px solid #899599;
    background-color: aqua;
}

.controls{
    width: 600px;
    height: 150px;
    margin: 10px;
    background-color: red;
    /* border: 5px solid grey; */
    display: flex;
    justify-content: space-between;
}

button {
    width: 150px;
    height: 150px;
    /* margin-top: 20px; */
    border: none;
    border-radius: 50%;
    background-color: white;
    align-self: center;
    box-shadow: 3px 4px 0 0 #899599;
}

/* button:hover {
} */